@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "Jost", sans-serif;
  font-family: "REM", sans-serif;
}

body {
  /* overflow: hidden; */
  background-color: #CFBA98;
  margin: 0;
  position: relative;
}


section {
  /* opacity: 0; */
  transition: all 1s;
}

section.show {
  opacity: 1;
}

.app {}

.app::before {
  background-image: url("./img/WaterIcon.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 250%;
  background-color: #CFBA98;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: -50%; */
  left: 0;
  z-index: -1;
  /* filter: blur(.25em); */
  opacity: .5;
  /* transform: rotate(30deg); */
}

.app::after {
  background-image: url("./img/WaterIcon.png");
  background-color: #CFBA98;
  background-repeat: repeat;
  background-size: 500px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  z-index: -1;
  opacity: .25;
  /* transform: rotate(30deg); */
  filter: blur(2em);
}


@media (min-width: 768px) {
  .app::before {
    background-image: url("./img/WaterIcon.png");
    background-repeat: repeat;
    background-size: 500px;
    background-color: #CFBA98;
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    transform: rotate(30deg);

  }

  .app::after {
    background-image: url("./img/WaterIcon.png");
    background-color: #CFBA98;
    background-repeat: repeat;
    background-size: 500px;
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    opacity: .5;
    transform: rotate(30deg);
    filter: blur(2em);
  }
}



.scroll-container,
.scroll-area {
  max-width: 850px;
  font-size: 60px;
  height: 600px;
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
}

.scroll-area {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.scroll-area:nth-of-type(1) {
  background: #49b293;
}

.scroll-area:nth-of-type(2) {
  background: #c94e4b;
}

.scroll-area:nth-of-type(3) {
  background: #4cc1be;
}

.scroll-area:nth-of-type(4) {
  background: #8360A6;
}

header {
  background-color: #1A1F24;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  /* animtaiton for slide in from the top */
  animation: slide-in-top 1.7s ease-in both;
  z-index: 11;
  /* animation-delay: 0.5s; */
}

header::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  border-top: #4044AB solid 15px;
  transition: opacity 0.3s;

  /* animtaiton for slide in from the top that repeats infinitely */
  animation: slide-in-top-after 3s ease both;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  z-index: -1;
}

@keyframes slide-in-top {
  0% {
    /* opacity: 0; */
    transform: translateY(-100px);
  }

  50% {
    transform: translateY(5px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-top-after {
  0% {
    /* opacity: 0; */
    /* background-color: #2596be; */
    transform: translateY(-15px);
  }

  50% {
    /* background-  color: #CFBA98; */
    transform: translateY(-13px);
  }

  80% {
    /* background-color: #2596be; */
    transform: translateY(-14px);
  }

  100% {
    /* background-color: #1a1f24; */
    transform: translateY(-15px);
  }
}




/* Replace "header" with "component--slide-out" */
.component--slide-out {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
  transition: left 2.5s cubic-bezier(0.075, 1.82, 0.165, 1);
  left: 0;
  top: 0;
}

section {
  /* background-color: red; */
  /* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
  /* clip-path: ellipse(100% 55% at 48% 44%); */
  position: relative;
  /* border: solid 5px yellow; */
  /* height: 100vh; */
}

.hero {
  /* background-color: white; */
  background-color: #CFBA98;
  min-height: 730px;
}

.text {
  background-color: transparent;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 2;
  color: white;
  width: auto;
}

/* Animation */

.parallax>use {
  animation: move-forever 5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.waves {
  height: 40px;
  min-height: 40px;
}

h1 {
  font-size: 24px;
}

.component--slide-out {
  position: fixed;
  width: 80%;
  max-width: 380px;
  top: 55px;
  right: -100%;
  left: auto;
  transition: all 1.5s ease;
  z-index: 99;
}

.component--slide-out.show {
  right: 0;
}

.component--slide-out::after {
  content: "";

  background-color: #1A1F24;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.menu-toggle {
  cursor: pointer;
  z-index: 2;
}

.container--side {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 100%;
  right: 100%;
  z-index: 1;
  transform-origin: bottom right;
  width: 100vh;
}

.container--top {
  width: 100%;
  position: absolute;
  top: 95px;
  right: 0;
  z-index: 1;
  border-bottom: solid 100px #1A1F24;
}

.container--menu {
  z-index: 0;
  margin-top: 125px;
}

.ball {
  content: "";
  position: absolute;
  top: 5px;
  left: -0%;
  width: 200px;
  height: 150px;
  background-color: #4044AB;
  display: flex;
  color: white;
  text-shadow: 0 3px 1px #1A1F24;
  box-shadow: 0px 5px 40px gray inset;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 3em;
  z-index: 0;
  rotate: 5deg;
  border-radius: 100%;
  overflow: hidden;
  animation: move-ball 10s alternate infinite ease;
}

.ball::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 150px;
  width: 20px;
  height: 15px;
  background-color: white;
  display: flex;
  color: white;
  opacity: 0.5;
  filter: blur(5px);
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 3em;
  z-index: 0;
  rotate: -50deg;
  border-radius: 100%;
}

@keyframes move-ball {
  0% {
    transform: translateX(50%) translateY(-15%);
  }

  50% {
    transform: translateX(70%) translateY(-20%);
  }

  100% {
    transform: translateX(50%) translateY(-15%);
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 4em;
  gap: 0.5em;
  font-size: 1.5em;
  background-color: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
  color: white;
}

.btn {
  font-size: 1em;
  overflow: hidden;
  border: 2px solid white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}


* {
  box-sizing: border-box;
}


/* video Background   */
.video-background {
  top: 100px;
  opacity: 0;
  position: fixed;
}

.video-background.intro {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  transition: all 5s ease;
}


.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}



.vid-info {
  position: absolute;
  top: 20em;
  left: 11vw;
  /* color: #fff; */
  z-index: 5;
}

.vid-info__name {
  /* color: #CFBA98; */
  /* font-size: 1.5em; */
}

.vid-info__alias {
  /* color: rgba(#AB1795, 0.75); */
  /* font-size: 2.75rem; */
  /* font-weight: 700; */
  /* margin: 0; */
  /* text-shadow: -1em 1em 0em #1A1F24; */
}

.vid-info__summary {
  /* background-color: rgba(19, 56, 159, 0.7); */
  /* padding: 0.5em 1em; */
  /* border-radius: 10px; */
  /* width: auto; */
  /* display: inline-block; */
}

/*---prob have to be injected with script--*/
iframe .vid-info {
  top: 0 !important;
  right: 0 !important;
  margin: auto !important;
  width: 300px !important;
}

.video-foreground {
  border: 10px solid blue;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    /* height: 300%; */
    /* top: -100%; */
  }
}

/* @media (max-aspect-ratio: 16/9) { */
.video-foreground {
  mix-blend-mode: multiply;
  filter: invert(1);
  min-width: 300%;
  left: -100%;
  border: 10px solid #1A1F24;
}

/* } */

.video-foreground iframe {
  min-height: 570px;
  background-size: cover;
  position: absolute;
  mix-blend-mode: screen;
  width: 100%;
  display: block;
  background: url("https://www.brpoolsusa.com/_c/wp-content/uploads/2022/02/Whitsunday-and-Cube-Spa-Ocean-scaled-1920x1080.jpg") left 5% / 15% 60% repeat;
}

@media screen and (min-width: 768px) {
  .video-foreground iframe {
    height: 750px;
  }

}



.top {
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: multiply;
  z-index: -1;
}

.top::before {
  content: "";
  /* transform: rotate(10deg); */
  width: 90%;
  height: 800px;
  position: absolute;
  z-index: 999;
  background: black;
  animation: spin 5s ease-in-out infinite;
}

@media (min-width: 768px) {
  .top::before {
    min-width: 1000px;
  }
}









/* # Animation key frames to rotate .top::before 360 degrees over 25s */
@keyframes spin {
  0% {
    transform: rotate(10deg);
    border-radius: 50%;
  }

  70% {
    transform: rotate(15deg);
    border-radius: 100%;
  }

  100% {
    transform: rotate(10deg);
    border-radius: 50%;
  }

}



.container--clipped {
  background-color: red;
  bottom: 0;
  z-index: -1;
  position: relative;
  min-height: 500px;
}

.faq {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: white;

}

footer {
  position: relative;
  background-color: #1A1F24;
}



@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}




.btn {
  position: relative;
  text-decoration: none;
  /* color: #357dba; */
  /* border: 1px solid #357dba; */
  /* padding: 1.3em; */
  /* text-transform: uppercase; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* align-items: flex-end stretch; */
  letter-spacing: 2px;
  z-index: 1;
  transition: all 1s ease;
}

.btn:before,
.btn:after {
  content: "";
  height: 500px;
  width: 500px;
  position: absolute;
  z-index: -1;
  top: 100%;
  transition: all 1.4s ease;
}

.btn:before {
  border-radius: 60% 70% 20% 40%;
  background: #357dba;
  opacity: .2;
  animation: water 13s ease-in-out infinite both alternate;
}

.btn:after {
  border-radius: 60% 70% 20% 40%;
  background: #357dba;
  opacity: .5;
  animation: water 14s ease-in-out infinite both alternate;
}

.btn:hover {
  background: #357dba;
  color: white;
}

.btn:hover:before,
.btn:hover:after {
  opacity: 1;
  top: -100%;
}

.btn:nth-child(1) {
  animation-delay: 2.3s;
}

.btn:nth-child(2) {
  animation-delay: 1.5s;
}

@keyframes water {
  0% {
    transform: rotate(0);
  }

  20% {
    border-radius: 50% 63% 80% 49%;
  }

  40% {
    border-radius: 60% 64% 64% 48%;
  }

  60% {
    border-radius: 80% 63% 51% 49%;
  }

  80% {
    border-radius: 40% 60% 42% 58%;
  }

  100% {
    border-radius: 62% 67% 70% 53%;
    transform: rotate(180deg);
  }
}