@tailwind base;
@tailwind components;
@tailwind utilities;
*,
body {
  font-family: "Jost", sans-serif;
  font-family: "REM", sans-serif;
}

body {
  background-color: #2596be;
  margin: 0;
}

header {
  background-color: black;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  color: aliceblue;
  font-size: 1.5em;
  flex: 1;
}

.primary--purple {
  color: #415eb9;
}

/* Replace "header" with "component--slide-out" */
.component--slide-out {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
  transition: left 2.5s cubic-bezier(0.075, 1.82, 0.165, 1);
  left: 0;
  top: 0;
}

section {
  /* background-color: red; */
  /* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
  /* clip-path: ellipse(100% 55% at 48% 44%); */
  position: relative;
  /* border: solid 5px yellow; */
  /* height: 100vh; */
}

.hero {
  /* background-color: red; */
  min-height: 730px;
}

.text {
  background-color: transparent;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 2;
  color: white;
  width: auto;
}

/* Animation */

.parallax>use {
  animation: move-forever 5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.waves {
  height: 40px;
  min-height: 40px;
}

h1 {
  font-size: 24px;
}

.component--slide-out {
  position: fixed;
  width: 80%;
  max-width: 380px;
  top: 55px;
  right: -100%;
  left: auto;
  transition: all 1.5s ease;
  z-index: 99;
}

.component--slide-out.show {
  right: 0;
}

.component--slide-out::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.menu-toggle {
  /* position: absolute; */
  /* top: 0;
  right: 0;
  width: 50px;
  height: 50px; */
  cursor: pointer;
  z-index: 2;
}

.container--side {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 100%;
  right: 100%;
  z-index: 1;
  transform-origin: bottom right;
  width: 100vh;
}

.container--top {
  width: 100%;
  position: absolute;
  top: 95px;
  right: 0;
  z-index: 1;
  border-bottom: solid 100px black;
}

.container--menu {
  z-index: 0;
  margin-top: 125px;
}

.ball {
  content: "";
  position: absolute;
  top: 5px;
  left: -0%;
  width: 200px;
  height: 150px;
  background-color: purple;
  display: flex;
  color: white;
  text-shadow: 0 5px 4px black;
  box-shadow: 0px 5px 40px gray inset;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 3em;
  z-index: 0;
  rotate: 5deg;
  border-radius: 100%;
  overflow: hidden;
  animation: move-ball 10s alternate infinite ease;
}

.ball::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 150px;
  width: 20px;
  height: 15px;
  background-color: white;
  display: flex;
  color: white;
  opacity: 0.5;
  filter: blur(5px);
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 3em;
  z-index: 0;
  rotate: -50deg;
  border-radius: 100%;
}

@keyframes move-ball {
  0% {
    transform: translateX(50%) translateY(-15%);
  }

  50% {
    transform: translateX(70%) translateY(-20%);
  }

  100% {
    transform: translateX(50%) translateY(-15%);
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 4em;
  gap: 0.5em;
  font-size: 1.5em;
  background-color: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
  color: white;
}

.btn {
  font-size: 1em;
  background-color: purple;
  display: block;
  border: 2px solid white;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  /* font-size: 20px; */
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn--blue {
  background-color: rgb(37, 150, 190);
}

* {
  box-sizing: border-box;
}

.video-background {
  /* background: #000; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  /* mix-blend-mode: difference; */
  background: white;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
  color: #fff;
}

.vid-info {
  position: absolute;
  top: 381px;
  left: 11vw;
  /* width: 33%; */
  color: #fff;
  padding: 1rem;
  font-family: RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
  z-index: 9999;
}

.vid-info__name {
  font-size: 1rem;
  text-shadow: 3px 3px 10px #000;
}

.vid-info__alias {
  /* color: rgba(#AB1795, 0.75); */
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 3px 3px 5px #000;
}

.vid-info__summary {
  text-shadow: 3px 3px 5px #000;
  background-color: rgba(19, 56, 159, 0.7);
  padding: 0.5em;
  border-radius: 10px;
  width: 100%;
  text-align: right;
}

/*---prob have to be injected with script--*/
iframe .vid-info {
  top: 0 !important;
  right: 0 !important;
  margin: auto !important;
  width: 300px !important;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    mix-blend-mode: multiply;

    filter: invert(1);
    width: 300%;
    left: -100%;
  }
}

.blue {
  background: left 5% / 15% 60% repeat url("https://www.brpoolsusa.com/_c/wp-content/uploads/2022/02/Whitsunday-and-Cube-Spa-Ocean-scaled-1920x1080.jpg");
  width: 100%;
  display: block;
  height: 100vh;
  background-size: cover;
  position: absolute;
  mix-blend-mode: screen;
  /* border-radius: 100%; */
}

.top {
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: multiply;
  z-index: -1;
}

.top::before {
  content: "";
  transform: rotate(10deg);
  width: 90%;
  height: 800px;
  position: absolute;
  z-index: 999;
  background: green;
  background: black;
  border-radius: 50px;
}

.container--clipped {
  background-color: red;
  /* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
  /* height: 100px; */
  /* border: solid 5px red; */
  bottom: 0;
  z-index: -1;
  position: relative;
  min-height: 500px;
}

.faq {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: white;
  background-color: blue;
}

footer {
  position: relative;
  background-color: black;
}

.accordionSummary {
  background-color: green;
}